* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('../images/cartBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    position: relative;
    
}


.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3);

}

nav {
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    color: #fff;
    cursor: pointer;
    padding: 5px;
    background-color: grey;
    text-decoration: none;
}

li ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;

}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


#products {
    color: black;
    background-color: lightblue;
}

.delete-btn, 
.like-btn {
    display: inline-block;
    Cursor: pointer;
}


.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
